In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[10, 20, 30, 40],
                   [50, 60, 70, 80],
                   [90, 100, 110, 120]],
                   index=list('xyz'),
                   columns=list('abcd'))

In [3]:
df

    a    b    c    d
x  10   20   30   40
y  50   60   70   80
z  90  100  110  120

In [8]:
df[['a', 'b']]

    a    b
x  10   20
y  50   60
z  90  100

In [9]:
# df['x'] # will raise a KeyErrorException as pandas will look for a column name x

In [11]:
df.loc['x'] # to retrieve the row at index x we should use this as its a series or we can use df.iloc[0]

a    10
b    20
c    30
d    40
Name: x, dtype: int64

In [14]:
df['x': 'z'] # Exception to pandas rule when we use a splice operator pandas will look in the indexes for that

    a    b    c    d
x  10   20   30   40
y  50   60   70   80
z  90  100  110  120

# Exercise 8 • Net revenue
For many pandas users, it’s rare to create a new data frame from scratch. We import a CSV file, or we perform transformations on an existing data frame (or several existing series). But sometimes we need to create a new data frame—for example, when assembling data from nonstandard sources or experimenting with new pandas techniques—and knowing how to do so can be useful.

For this exercise, I want you to create a data frame that represents a company’s inventory of five products. Each product has a unique ID number (a two-digit integer will do), name, wholesale price, retail price, and number of sales in the last month. You’re making it up, so if you’ve always wanted to be a profitable starship dealer, this is your chance! Once you have created this data frame, calculate the total net revenue from all your products.

In [16]:
df = pd.DataFrame([
    {'product_id': 23, 'name': 'computer', 'wholesale_price': 500, 'retail_price': 1000, 'sales': 100},
    {'product_id': 96, 'name': 'python book', 'wholesale_price': 35, 'retail_price': 75, 'sales': 1000},
    {'product_id': 97, 'name': 'pandas book', 'wholesale_price': 35, 'retail_price': 75, 'sales': 500},
    {'product_id': 15, 'name': 'apple', 'wholesale_price': 0.5, 'retail_price': 1, 'sales': 200},
])

In [19]:
print(f"Net: {( (df['retail_price'] - df['wholesale_price']) * df['sales'] ).sum()}")

Net: 110100.0

In [25]:
df['name'][df['retail_price'] * 0.5 > df['wholesale_price']] # retail price twice the wholesale price

1    python book
2    pandas book
Name: name, dtype: object

In [34]:
# net revenue from computer sales
((df['retail_price'] - df['wholesale_price']) * df['sales'])[0].sum()

np.float64(50000.0)

In [36]:
# net revenue from book sales
((df['retail_price'] - df['wholesale_price']) * df['sales'])[[1, 2]].sum()

np.float64(60000.0)

In [37]:
# net revenue from food sales
((df['retail_price'] - df['wholesale_price']) * df['sales'])[3].sum()

np.float64(100.0)

In [40]:
# lets say we get 30 % discount on wholesale price calculate the net revenue
((df['retail_price'] - df['wholesale_price'] * 0.7)*df['sales']).sum()

np.float64(140880.0)